<div class="flex justify-between">
  <%= button_to "New Spell", new_spell_path, class: "btn btn-xs sm:btn-sm md:btn-md ms-7" %>
</div>

<div class="mx-auto p-6 grid grid-cols-4 xl:grid-cols-3 lg:grid-cols-2 sm:grid-cols-1 gap-2">
  <% @spells.each do |spell| %>
  <div class="card w-96 bg-base-100 shadow-xl hover:scale-105 transition-transform duration-300">
    <div class="card-body">
      <h2 class="card-title"><u><%= link_to spell.name, spell %></u></h2>
      <div class="grid grid-cols-2 gap-2">
        <div class="col-span-1">
          <p><strong>DN:</strong> <%= spell.dn %></p>
        </div>
        <div class="col-span-1">
          <p><strong>Target:</strong> <%= spell.target %></p>
        </div>
        <div class="col-span-1">
          <p><strong>Range:</strong> <%= spell.range %></p>
        </div>
        <div class="col-span-1">
          <p><strong>Duration:</strong> <%= spell.duration %></p>
        </div>
        <% if spell.spell_test.present? %>
          <div class="col-span-1">
            <p><strong>Test:</strong> <%= spell.spell_test %></p>
          </div>
        <% end %>
        <div class="col-span-2">
          <p><strong>Overcast:</strong> <%= spell.overcast %></p>
        </div>
        <p class="col-span-2"><%= spell.description %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>


